.swiftpm/
.idea/
xcuserdata/
.DS_Store

# Build directories
build/
Examples/build/
DerivedData/

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/

